html {
  font-size: calc(100vw / 1920 * 10);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 767px) {
    font-size: calc(100vw / 750 * 10);
  }
}

// resets
body {
  font-family: 'Aveonik', sans-serif;
}
